* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  padding-top: 70px;
}

.food {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.food-bar {
  background-color: white;
  padding: 12px 24px;
  letter-spacing: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.food-bar-item {
  float: left;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}

.food-right a {
  float: right;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}

.food-content {
  max-width: 1600px;
  margin: auto;
  position: relative;
}

/* IMAGE */
.food-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}

/* TEXT ON IMAGE */
.food-display {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

/* HEADING */
.food-large {
  font-size: 48px;
  color: #777;
  letter-spacing: 5px;
  font-weight: 400;
}
.food-content {
  margin-left: auto;
  margin-right: auto;
}
.food-padding {
  padding-top: 64px;
  padding-bottom: 64px;
}
.food-small,
.food-color {
  width: 50%;
  float: left;
  padding: 12px 24px;
}

.food-round {
  opacity: 1;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.food-center {
  text-align: center;
  letter-spacing: 5px;
  font-family: " Playfair display ";
  font-weight: 400;
  margin: 10px 0px;
  font-size: 36px;
}

.food-para {
  font-size: 18px;
}
.food-er {
  color: black;
  background-color: beige;
}
.food-padding {
  padding: 64px 0;
}

.food-section {
  margin: 64px 0;
}

.food-center {
  text-align: center;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  margin: 0 10px;
  font-weight: 400;
  font-size: 36px;
}
.food-menu {
  text-align: center;
  letter-spacing: 5px;
  font-family: "playfair display";
  margin: 10px 0;
  font-weight: 400;
}
h4 {
  font-family: "playfair display";
  letter-spacing: 5px;
  font-weight: 400;
  margin: 10px 0;
}

.food-padding-large {
  size: 100%;
  padding: 12px 24px;
}

.food-grey {
  color: #777;
  font-size: 18px;
  margin-bottom: 16px;
  box-sizing: inherit;
}
  
img {
  vertical-align: middle;
  border-style: none;
}
