*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  background: url("OIP.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;   
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


.logo {
  
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  color: #ff0083;
  text-shadow: rgb(6, 4, 4) 2px 2px 0.2rem;
  font-weight: bold;

}



header > time {
  font-style: italic ;
  
}

.dic{
   font-weight: 500; 
   margin-top: 20px;
}
.dic span{
    font-style: italic;
    font-weight: bold;
     font-weight: 500; 
     margin-top: 20px;
}

.content{
    padding-left: 55px;
    margin-top: 20px;
    
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
   padding-left: 55px;
margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #45a1ff;
  color: white;
  margin-top: auto;
}

main{
    padding-left: 55px;
}

h1,
h2 {
  margin: 0;
  margin-top: 20px;
}

.intro{
    margin-top: 20px;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #79032a;
}

aside > p {
  margin: 0.5rem;
}
.aside-wrapper{
    display: flex;
    align-items: center;
     margin-top: 20px;

}

.aside-dec{
    width: 50%;
     margin-top: 20px;
}

aside{
    width: 50%;
    margin: 10px 15px 20px 25px;

}

.forecast {
  margin: 0;
  padding: 0.3rem;
  background-color: #eeeeee;
}

.forecast > h1,
.day-forecast {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
}

.day-forecast {
  background: right/contain content-box border-box no-repeat
    url("/shared-assets/images/examples/rain.svg") white;
}

.day-forecast > h2,
.day-forecast > p {
  margin: 0.2rem;
  font-size: 1rem;
}





