


/* Body text */
body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: #333;
    background: url("91Ldu+2aHiS.jpg") repeat-y 40%;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/* Main heading */
h1 {
   
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Sub heading */
h2 {
   
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #00a400;
}

/* Paragraph text */
p {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
    

}

/* Emphasized text */
em {
    font-style: italic;
    font-weight: 600;
}
.icon{
    height: 50px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
    position: relative;
    top: -70px;
    left: 1415px;

}
