body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* header */
header {
  background: darkcyan;
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 48px;
  color: #ff0083;
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
}

/* main content */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  color: white;
}

/* paragraph */
.paragraph {
  font-size: 20px;
  line-height: 1.6;
}

/* REMOVE box look */
.box {
  padding: 20px 0;
  margin: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 25px;
  background-color: cadetblue;
  color: aqua;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkcyan;
}

.input-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
