/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

/* SECTION */
.core-values {
  background: #f6f8fb;
  padding: 80px 0;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* MAIN FLEX */
.values-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

/* LEFT + RIGHT */
.values-content {
  width: 55%;
}

.values-image {
  width: 45%;
}

/* SMALL TITLE */
.section-title {
  color: #00a88f;
  font-weight: 600;
  margin-bottom: 12px;
  display: inline-block;
}

.section-title::after {
   content: " ";
  width: 66px;
  height: 2px;
  background: #090a0a;
  display: block;
  margin-top: 6px;
}

/* HEADING */
.benefit {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #0b2545;
}

.font-primary {
  color: #00a88f;
}

/* DESCRIPTION */
.benefit-main-description {
  color: #555;
  margin-bottom: 40px;
  max-width: 520px;
  line-height: 1.6;
}

/* CARDS (2x2) */
.values-cards {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
}

.card {
  width: 50%;
  padding: 35px;
  border: 1px solid #eef0f4;
}

/*.card:nth-child(1),
.card:nth-child(2) {
  border-bottom: none;
}

.card:nth-child(odd) {
  border-right: none;
}*/

/* ICON */
.card .icon {
  width: 42px;
  margin-bottom: 18px;
}

/* CARD TITLE */
.card h4 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #0b2545;
}

/* CARD TEXT */
.card p {
  font-size: 15px;
  color: #4a5a6a;
  line-height: 1.6;
}

.values-img{
  width: 45%;
}

/* IMAGE */
.values-image img {
  width: 120%;
  height: 720px;
  object-fit: cover;
  border-radius: 16px;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

 /*@media (max-width: 991px) {
  .values-wrapper {
    flex-direction: column;
  }

  .values-content,
  .values-image {
    width: 100%;
  }

  .values-image img {
    height: 420px;
    margin-top: 40px;
  }
}*/


.site-header {
  display: flex;
  align-items: center;
  padding: 15px 60px;
  background-color: #ffffff;
  box-shadow: 4px 4px 6px #00000045;
 position: sticky;
 z-index: 10;
 top: 0;
 
}

.service{
  margin-left: auto;   /* right push */
  margin-right: 120px; 
  color: #003366;
  padding: 10px 27px;
  text-decoration: none;
}
.nav-links {
  margin-left: auto;
  display: flex;
  gap: 35px;
}

/* Common link style */
.nav-link {
  text-decoration: none;
  color: #003366;
  font-size: 16px;
}
.feedback{
  margin-right: 120px;
  color: #003366;
  padding: 10px 27px;
  text-decoration: none;
}
.btn-primary{
  display: inline-block;
  padding: 14px 34px;
  background-color: #00a87e;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  margin-bottom: 20px;
}

.btn-primary:hover{
  background-color: #008f6a;
  color: #fff;
}

  .nav{
  letter-spacing:.5px ;
  font-size: 18px;
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-left: auto;
}

.logo-ing{
  height:50px ;
  width:auto;
}

 /*@media (max-width: 575px) {
  .benefit {
    font-size: 32px;
  }

  .card {
    width: 100%;
    border-right: 1px solid #eef0f4;
  }

  .card:nth-child(odd) {
    border-right: 1px solid #eef0f4;
  }
}
